
body {
	background-color: black;
}

nav ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
	overflow: hidden;
	background-color: grey;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: #111;
  color: white;
}

nav a.active {
  background-color: darkgrey;
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
  text-align: center;
  font-size: 100px;
  color: yellow;
  font-style: italic;
}

p {
  color: white;
}

a {
  color: white;
}
